In [3]:
import pandas as pd

student_data = pd.read_csv('data/students_performance.csv', sep=',')
student_data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
# Данные о скольких студентах содержатся в таблице?
# shape[0] в данном контексте возвращает количество строк в DataFrame, Если shape[0] вернет число больше нуля, это означает, 
# что в DataFrame есть хотя бы одна строка данных (т.е., как минимум, один студент). Если shape[0] вернет 0, 
# это может указывать на то, что DataFrame пуст и не содержит данных о студентах.
num_students = student_data.shape[0]
display(num_students)

1000

In [6]:
# Каков балл по письму у студента под индексом 155?
writing_score_155 = student_data.loc[155, "writing score"]
display(writing_score_155)

88

In [ ]:
# Сколько суммарно пропущенных значений в таблице?
# Сколько столбцов в таблице имеет тип данных object?
# Какой объём памяти (в килобайтах) занимает таблица?
student_data.info()

In [11]:
# Каков у студентов средний балл по математике?
average_math_score = student_data['math score'].mean()
display(average_math_score)

66.089

In [12]:
# Какая расовая группа является самой крупной в учебном заведении?
# В качестве ответа введите идентификатор группы (A, B, C, D, F)
race_counts = student_data["race/ethnicity"].value_counts()
largest_race_group = race_counts.idxmax()
display(largest_race_group)

'group C'

In [13]:
# Каков средний балл по чтению у студентов, которые посещали курсы подготовки к экзаменам?
prepared_students = student_data[student_data['test preparation course'] == 'completed']
average_reading_score_prepared = prepared_students["reading score"].mean()
display(average_reading_score_prepared)

73.89385474860335

In [14]:
# Сколько студентов получили 0 баллов по математике?
students_with_zero_math_score = student_data[student_data["math score"] == 0]
num_studens_with_zero_math_score = students_with_zero_math_score.shape[0]
display(num_studens_with_zero_math_score)

1

In [15]:
# Проверьте гипотезу: у студентов с оплачиваемым питанием средний балл по математике выше, чем у студентов с льготным питанием
# В качестве ответа напишите наибольший средний балл по математике среди этих групп студентов
paid_lunch_mask = student_data['lunch'] == 'standard'
free_lunch_mask = student_data['lunch'] == 'free/reduced'
mean_math_score_paid_lunch = student_data.loc[paid_lunch_mask, 'math score'].mean()
mean_math_score_free_lunch = student_data.loc[free_lunch_mask, 'math score'].mean()
display(mean_math_score_free_lunch)
display(mean_math_score_paid_lunch)

58.92112676056338

70.03410852713178

In [16]:
# Каков процент студентов, родители которых имеют высшее образование уровня бакалавриата (bachelor's degree)?
bachelors_degree_mask = student_data['parental level of education'] == "bachelor's degree"
percentage_bachelors_degree = bachelors_degree_mask.mean() * 100
display(percentage_bachelors_degree)

11.799999999999999

In [17]:
# Насколько медианный балл по письму у студентов в расовой группе А
# отличается от среднего балла по письму у студентов в расовой группе C?
group_A_mask = student_data['race/ethnicity'] == 'group A'
group_C_mask = student_data['race/ethnicity'] == 'group C'
median_writing_score_group_A = student_data.loc[group_A_mask, 'writing score'].median()
mean_writing_score_group_C = student_data.loc[group_C_mask, 'writing score'].mean()
difference = median_writing_score_group_A - mean_writing_score_group_C
display(difference)

-5.827586206896555