<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [1]:
import pandas as pd
import psycopg2

In [2]:
DBNAME = ''
USER = ''
PASSWORD = ''
HOST = ''
PORT =

In [3]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [4]:
query_3_1 = f'''
    SELECT COUNT(*) AS vacancies_count
    FROM vacancies;
'''
df = pd.read_sql_query(query_3_1, connection)

# Вывод результата
# print(df)

C:\TEMP\ipykernel_11696\3932150674.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_1, connection)

In [5]:
# 49197

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [6]:
query_3_2 = '''
    SELECT COUNT(*) AS employers_count
    FROM employers;
'''

df = pd.read_sql_query(query_3_2, connection)

# Вывод результата
# print(df)

C:\TEMP\ipykernel_11696\1975091267.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_2, connection)

In [7]:
# 23501

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [8]:
query_3_3 = '''
    SELECT COUNT(*) AS areas_count
    FROM areas;
'''

df = pd.read_sql_query(query_3_3, connection)

# Вывод результата
# print(df)

C:\TEMP\ipykernel_11696\1030811043.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_3, connection)

In [9]:
# 1362

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [10]:
query_3_4 = '''
    SELECT COUNT(*) AS industries_count
    FROM industries;
'''

df = pd.read_sql_query(query_3_4, connection)

# Вывод результата
# print(df)

C:\TEMP\ipykernel_11696\4048974270.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_4, connection)

In [11]:
# 294

***

In [12]:
# База данных довольно объемная и содержит в себе 49 197 вакансий, которые приходятся на 23 501 работодателей.
# База охватывает 1362 региона и 294 сферы деятельности. Нужно провести дополнительный анализ позиций на предмет 
# дубликатов и нулевых значений (там где в этом есть смысл). Далее можно с помощью графиков попробовать 
# отобразить интересующую нас информацию, например где больше всего платят, какие специалисты наиболее востребованы и т.д.

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [13]:
query_4_1 = '''
    SELECT a.name AS area, COUNT(v.id) AS cnt
    FROM areas a
    JOIN vacancies v ON a.id = v.area_id
    GROUP BY a.name
    ORDER BY cnt DESC
    LIMIT 5;
'''

df = pd.read_sql_query(query_4_1, connection)

# Вывод результата
" print(df)

SyntaxError: unterminated string literal (detected at line 13) (2046103900.py, line 13)

In [ ]:
# Москва, Санкт-Петербург, Минск, Новосибирск, Алматы

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [ ]:
query_4_2 = '''
    SELECT COUNT(*) AS vacancies_with_salary
    FROM vacancies
    WHERE salary_from IS NOT NULL OR salary_to IS NOT NULL;
'''

df = pd.read_sql_query(query_4_2, connection)

# Вывод результата
# print(df)

   vacancies_with_salary
0                  24073

C:\TEMP\ipykernel_12000\4034331673.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_6, connection)

In [ ]:
# 24073

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [ ]:
query_4_3 = '''
    SELECT 
        ROUND(AVG(salary_from)) AS avg_salary_from, 
        ROUND(AVG(salary_to)) AS avg_salary_to
    FROM vacancies
    WHERE salary_from IS NOT NULL OR salary_to IS NOT NULL;
'''

df = pd.read_sql_query(query_4_3, connection)

# Вывод результата
# print(df)

   avg_salary_from  avg_salary_to
0          71065.0       110537.0

C:\TEMP\ipykernel_12000\1115818901.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_7, connection)

In [ ]:
# lower: 71065; upper: 110537

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [ ]:
query_4_4 = '''
    SELECT schedule, employment, COUNT(*) AS vacancies_count
    FROM vacancies
    GROUP BY schedule, employment
    ORDER BY vacancies_count DESC;
'''

df = pd.read_sql_query(query_4_4, connection)

# Вывод результата
print(df)

C:\TEMP\ipykernel_12000\3323699257.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_8, connection)

            schedule           employment  vacancies_count
0        Полный день     Полная занятость            35367
1   Удаленная работа     Полная занятость             7802
2      Гибкий график     Полная занятость             1593
3   Удаленная работа  Частичная занятость             1312
4     Сменный график     Полная занятость              940
5        Полный день           Стажировка              569
6     Вахтовый метод     Полная занятость              367
7        Полный день  Частичная занятость              347
8      Гибкий график  Частичная занятость              312
9        Полный день     Проектная работа              141
10  Удаленная работа     Проектная работа              133
11     Гибкий график           Стажировка              116
12    Сменный график  Частичная занятость              101
13  Удаленная работа           Стажировка               64
14     Гибкий график     Проектная работа               18
15    Сменный график           Стажировка               12
16    Вахтовый метод     Проектная работа                2
17    Сменный график     Проектная работа                1

In [ ]:
# 0        Полный день     Полная занятость            35367
# 1   Удаленная работа     Полная занятость             7802 
# ..........................................................

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [ ]:
query_4_5 = '''
    SELECT experience, COUNT(*) AS vacancies_count
    FROM vacancies
    GROUP BY experience
    ORDER BY vacancies_count ASC;  -- Сортировка по возрастанию количества вакансий
'''

df = pd.read_sql_query(query_4_5, connection)

# Вывод результата
# print(df)

           experience  vacancies_count
0         Более 6 лет             1337
1           Нет опыта             7197
2       От 3 до 6 лет            14511
3  От 1 года до 3 лет            26152

C:\TEMP\ipykernel_12000\1611294649.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_9, connection)

In [ ]:
# Более 6 лет — Нет опыта — От 3 до 6 лет — От 1 года до 3 лет

***

In [ ]:
# Дальнейший анализ как и предполагалось в выводах предыдущего блока дал больше информации о БД. Можно сделать 
# следующие интересные выводы: города-лидеры по количеству вакансий это столицы или бывшие столицы, однако в 
# списке также Новосибирск (возможно аномалия или ошибка в данных? я плохо знаком с рынком России и СНГ), 
# только около половины вакансий заполнено поле с ЗП (видимо широкий диапазон в зависимости от квалификации, 
# однако мы можем на основании среднего диапазона составить понимание). Удаленная работа на полную занятость - находится 
# на втором месте по популярности (эффект пост-ковида?)

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [ ]:
query_5_1 = '''
WITH ranked_employers AS (
    SELECT employer_id, COUNT(*) AS vacancies_count
    FROM vacancies
    GROUP BY employer_id
    ORDER BY vacancies_count DESC
)
SELECT e.name, re.vacancies_count
FROM (
    SELECT employer_id, vacancies_count,
           ROW_NUMBER() OVER (ORDER BY vacancies_count DESC) as rank
    FROM ranked_employers
) AS re
JOIN employers e ON e.id = re.employer_id
WHERE re.rank IN (1, 5);
'''

df = pd.read_sql_query(query_5_1, connection)

# Вывод результата
# print(df)

            name  vacancies_count
0         Яндекс             1933
1  Газпром нефть              331

C:\TEMP\ipykernel_28816\3715980346.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_10, connection)

In [ ]:
# Яндекс 1933 — Газпром нефть 331

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [ ]:
query_5_2_corrected = '''
WITH region_vacancies AS (
    SELECT a.id AS region_id, a.name AS region_name, COUNT(v.id) AS vacancies_count
    FROM areas a
    LEFT JOIN vacancies v ON a.id = v.area_id
    GROUP BY a.id
),
region_employers AS (
    SELECT a.id AS region_id, COUNT(DISTINCT e.id) AS employers_count
    FROM areas a
    LEFT JOIN employers e ON a.id = e.area
    GROUP BY a.id
)
SELECT rv.region_name, re.employers_count, rv.vacancies_count
FROM region_vacancies rv
JOIN region_employers re ON rv.region_id = re.region_id
WHERE rv.vacancies_count = 0
ORDER BY re.employers_count DESC
LIMIT 1;
'''

df = pd.read_sql_query(query_5_2_corrected, connection)

# Вывод результата
# print(df)

C:\TEMP\ipykernel_28816\4291446266.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_11_corrected, connection)

  region_name  employers_count  vacancies_count
0      Россия              410                0

In [ ]:
# Россия              410

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [ ]:
query_5_3 = '''
SELECT employer_id, COUNT(DISTINCT area_id) AS regions_count
FROM vacancies
GROUP BY employer_id
ORDER BY regions_count DESC
LIMIT 1;
'''

df = pd.read_sql_query(query_5_3, connection)

# Вывод результата
# print(df)

   employer_id  regions_count
0         1740            181

C:\TEMP\ipykernel_28816\790032278.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_12, connection)

In [ ]:
# 181

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [ ]:
query_5_4 = '''
SELECT COUNT(*) AS employers_without_industry
FROM employers e
WHERE NOT EXISTS (
    SELECT 1
    FROM employers_industries ei
    WHERE e.id = ei.employer_id
);
'''

df = pd.read_sql_query(query_5_4, connection)

# Вывод результата
# print(df)

   employers_without_industry
0                        8419

C:\TEMP\ipykernel_28816\1240444095.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_13, connection)

In [ ]:
# 8419

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [ ]:
query_5_5 = '''
WITH company_industries AS (
    SELECT employer_id, COUNT(DISTINCT industry_id) AS industries_count
    FROM employers_industries
    GROUP BY employer_id
    HAVING COUNT(DISTINCT industry_id) = 4
)
SELECT e.name
FROM employers e
JOIN company_industries ci ON e.id = ci.employer_id
ORDER BY e.name
LIMIT 1 OFFSET 2;
'''

df = pd.read_sql_query(query_5_5, connection)

# Вывод результата
# print(df)

   name
0  2ГИС

C:\TEMP\ipykernel_28816\3438889341.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_3_14, connection)

In [ ]:
# 2ГИС

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [ ]:
query_5_6 = '''
SELECT COUNT(DISTINCT e.id) AS employers_count
FROM employers e
JOIN employers_industries ei ON e.id = ei.employer_id
JOIN industries i ON ei.industry_id = i.id
WHERE i.name = 'Разработка программного обеспечения';
'''

df = pd.read_sql_query(query_5_6, connection)

# Вывод результата
# print(df)

   employers_count
0             3553

C:\TEMP\ipykernel_28816\3495851284.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_6, connection)

In [ ]:
# 3553

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8). 

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [ ]:
query_5_7 = '''
SELECT a.name AS region, COUNT(v.id) AS vacancies_count
FROM areas a
JOIN vacancies v ON a.id = v.area_id
JOIN employers e ON e.id = v.employer_id
WHERE e.name = 'Яндекс'
GROUP BY a.name
'''

df = pd.read_sql_query(query_5_7, connection)

# Список городов-миллионников
million_cities = [
    'Москва', 'Санкт-Петербург', 'Новосибирск', 'Екатеринбург', 'Казань', 
    'Нижний Новгород', 'Красноярск', 'Челябинск', 'Самара', 'Уфа', 
    'Ростов-на-Дону', 'Краснодар', 'Омск', 'Воронеж', 'Пермь', 'Волгоград'
]

# Фильтрация DataFrame по списку городов-миллионников
df_filtered = df[df['region'].isin(million_cities)]

# Добавление строки Total с общим количеством вакансий
total_vacancies = df_filtered['vacancies_count'].sum()
total_row = pd.DataFrame([['Total', total_vacancies]], columns=['region', 'vacancies_count'])
df_final = pd.concat([df_filtered, total_row], ignore_index=True)

# Вывод результата
# print(df_final)

             region  vacancies_count
0         Волгоград               24
1           Воронеж               32
2      Екатеринбург               39
3            Казань               25
4         Краснодар               30
5        Красноярск               23
6            Москва               54
7   Нижний Новгород               36
8       Новосибирск               35
9              Омск               21
10            Пермь               25
11   Ростов-на-Дону               25
12           Самара               26
13  Санкт-Петербург               42
14              Уфа               26
15        Челябинск               22
16            Total              485

C:\TEMP\ipykernel_28816\285681575.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_7, connection)

In [ ]:
# Total            485.0

In [ ]:
# Количество строк 17 (изначально был невнимателен и не обратил внимание что всего 17, долго искал где ошибка)

***

In [ ]:
# Компания Яндекс является лидером по вакансиями в нашей БД, при этом существует некорректно заполненный или 
# спроектированный участок в части регионов (Россия). У значительной части работодателей (~8.5 тыс.) не 
# указана сфера деятельности. Разработчиков ПО не так много, что странно, возможно существует несколько вариантов 
# нахвания похожего по смыслу.

# Юнит 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [ ]:
query_5_7 = '''
SELECT name
FROM vacancies
'''

df_vacancies = pd.read_sql_query(query_5_7, connection)

data_related_vacancies = df_vacancies[df_vacancies['name'].str.contains('data|данн.', case=False, regex=True)]

data_related_vacancies_count = data_related_vacancies.shape[0]

# data_related_vacancies_count

C:\TEMP\ipykernel_28816\1050563794.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_vacancies = pd.read_sql_query(query_5_7, connection)

In [ ]:
# 1771

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? 
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [ ]:
query_6_2 = '''
SELECT name
FROM vacancies
WHERE 
    (
        lower(name) LIKE '%data scientist%' OR
        lower(name) LIKE '%data science%' OR
        lower(name) LIKE '%исследователь данных%' OR
        lower(name) LIKE '%machine learning%' OR
        lower(name) LIKE '%машинн%обучен%' OR
        (lower(name) LIKE '%ml%' AND lower(name) NOT LIKE '%html%')
    )
    AND
    (
        lower(name) LIKE '%junior%' OR
        lower(experience) LIKE '%нет опыта%' OR
        lower(employment) LIKE '%стажировка%'
    )
'''

df_vacancies_junior = pd.read_sql_query(query_6_2, connection)

junior_data_science_vacancies_count = df_vacancies_junior.shape[0]

# junior_data_science_vacancies_count

C:\TEMP\ipykernel_28816\3953009443.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_vacancies_junior = pd.read_sql_query(query_6_2, connection)

51

In [ ]:
# 51

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [ ]:
query_3_19 = '''
SELECT COUNT(*) as data_scientist_count_skills
FROM vacancies
WHERE (
        LOWER(name) LIKE '%data scientist%' 
        OR LOWER(name) LIKE '%data science%'
        OR LOWER(name) LIKE '%исследователь данных%'
        OR LOWER(name) LIKE '%machine learning%'
        OR LOWER(name) LIKE '%машинн%обучен%'
        OR (name LIKE '%ML%' AND LOWER(name) NOT LIKE '%html%')
      )
      AND (LOWER(key_skills) LIKE '%sql%' OR LOWER(key_skills) LIKE '%postgres%')
'''
df_ds_skills = pd.read_sql_query(query_3_19, connection)
# df_ds_skills

C:\TEMP\ipykernel_28816\2700480058.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_ds_skills = pd.read_sql_query(query_3_19, connection)

   data_scientist_count_skills
0                          201

In [ ]:
# 201

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [ ]:
query_python_in_ds = '''
SELECT COUNT(*) as python_ds_vacancies_count
FROM vacancies
WHERE (
        LOWER(name) LIKE '%data scientist%' 
        OR LOWER(name) LIKE '%data science%'
        OR LOWER(name) LIKE '%исследователь данных%'
        OR LOWER(name) LIKE '%machine learning%'
        OR LOWER(name) LIKE '%машинн%обучен%'
        OR (name LIKE '%ML%' AND LOWER(name) NOT LIKE '%html%')
      )
      AND LOWER(key_skills) LIKE '%python%'
'''

df_python_in_ds = pd.read_sql_query(query_python_in_ds, connection)
python_ds_vacancies_count = df_python_in_ds.loc[0, 'python_ds_vacancies_count']

# python_ds_vacancies_count

C:\TEMP\ipykernel_28816\2849715551.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_python_in_ds = pd.read_sql_query(query_python_in_ds, connection)

351

In [ ]:
# 351

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [ ]:
query_avg_skills_count = '''
SELECT AVG(ARRAY_LENGTH(STRING_TO_ARRAY(key_skills, E'\t'), 1)) AS average_skills_count
FROM vacancies
WHERE 
    LOWER(name) LIKE '%data scientist%' 
    OR LOWER(name) LIKE '%data science%'
    OR LOWER(name) LIKE '%исследователь данных%'
    OR LOWER(name) LIKE '%machine learning%'
    OR LOWER(name) LIKE '%машинн%обучен%'
    OR (name LIKE '%ML%' AND LOWER(name) NOT LIKE '%html%');
'''

df_avg_skills_count = pd.read_sql_query(query_avg_skills_count, connection)

average_skills_count = df_avg_skills_count['average_skills_count'].iloc[0]
print(f"Среднее количество ключевых навыков в вакансиях для DS: {average_skills_count:.2f}")

C:\TEMP\ipykernel_28816\3220465577.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_avg_skills_count = pd.read_sql_query(query_avg_skills_count, connection)

Среднее количество ключевых навыков в вакансиях для DS: 6.41

In [ ]:
# 6.41

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*). 

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [ ]:
# SQL запрос для вычисления средней зарплаты для каждого типа опыта
query_avg_salary_by_experience = '''
WITH avg_salary AS (
    SELECT 
        experience,
        AVG(
            COALESCE((salary_from + salary_to) / 2, salary_from, salary_to)
        ) AS result
    FROM 
        vacancies
    WHERE 
        (salary_from IS NOT NULL OR salary_to IS NOT NULL) 
        AND (
            name ILIKE '%data scientist%'
            OR name ILIKE '%data science%'
            OR name ILIKE '%исследователь данных%'
            OR name ILIKE '%machine learning%'
            OR name ILIKE '%машинн%обучен%'
            OR (name NOT ILIKE '%HTML%' AND name LIKE '%ML%')
        )
    GROUP BY 
        1
)

SELECT
    experience,
    ROUND(AVG(result), 0) AS "Средняя зарплата в DS"
FROM 
    avg_salary
GROUP BY 
    1;

'''

# Выполнение запроса и чтение результата
df_avg_salary_by_experience = pd.read_sql_query(query_avg_salary_by_experience, connection)

# Вывод результата
# print(df_avg_salary_by_experience)

C:\TEMP\ipykernel_28816\2584984799.py:36: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_avg_salary_by_experience = pd.read_sql_query(query_avg_salary_by_experience, connection)

           experience  Средняя зарплата в DS
0       От 3 до 6 лет               243115.0
1           Нет опыта                74643.0
2  От 1 года до 3 лет               139675.0

In [ ]:
# 243115

***

In [ ]:
# В рамках предметного анализа, мы исследовали вакансии, которые имеют прямое или косвенное отношение к данным. 
# Получилось 1771 позиций (что является около 3.6% от общего количества вакансий), из которых для начинающего 
# дата-сайентиста подходит только 51 позиция. Промежуточный вывод - не густо, однако возможно, мы можем расширить 
# список потенциальных работ за счет добавления других позиций (таких как разработчик, или требование по языку/
# инструменту). Кроме того, проведен анализ, насколько популярны Python и SQL при проверке ключевых навыков. 
# По этой части какого-то однозначного вывода сделать не могу кроме трактовки полученных цифр - 351 для Python 
# и 51 для SQL и postgres (причем это уже для Data Scinece в целом, а не для позиций джуниора). Следовательно 
# надо расширять свои знания дальше, чтобы по скиллам и знаниям попасть в общую выборку, а не только на 
# позиции начинающего аналитика.

# Общий вывод по проекту

In [ ]:
# 1. Объем базы данных: База данных содержит в себе 49 197 вакансий, распределенных по 23 501 работодателю. 
# Это обширный набор данных, который позволяет нам провести разнообразный анализ состояния рынка труда. 
# 2. География вакансий: Среди городов-лидеров по количеству вакансий встречаются как столицы и бывшие столицы,
# так и крупные региональные центры. Например, город Новосибирск выделяется среди других. Важно обратить внимание на 
# корректность заполнения данных по регионам для дальнейшего анализа (проверка на аномалии, не входило в рамках данного 
# проекта) 
# 3. Зарплатные ожидания: Только у половины вакансий указана заработная плата, что говорит о широком диапазоне
# возможных зарплатных предложений. Видимое увеличение удаленной работы на полную занятость, возможно, связано с
# эффектами пандемии COVID-19. 
# 4. Лидеры рынка: Компания Яндекс является лидером по количеству вакансий в базе данных. Однако стоит отметить, что 
# существуют некорректно заполненные или спроектированные части данных, например, в части регионов (присутствует значение
# "Россия"). 
# 5. Анализ вакансий: Исследовано 1771 вакансий, связанных с данными, из которых только 51 позиция подходит для
# начинающего дата-сайентиста. Это указывает на относительную недостаточность предложений для новичков в данной области. 
# Популярность навыков: Python является наиболее популярным языком программирования среди ключевых навыков, 
# требуемых для должности дата-сайентиста. SQL и Postgres также востребованы, однако их требования значительно меньше
# по сравнению с Python.
# NB! Для получения широких возможностей на рынке труда в сфере анализа данных рекомендуется расширять знания и навыки,
# чтобы соответствовать требованиям не только позиций начинающего аналитика, но и более опытных специалистов.